* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
}

html{
		overflow-x: hidden;
}


/*-------------------*/
/* Background styles */
/*-------------------*/

.polyscape-background {
		width: 100vw;
		height: 100vh;
		overflow: hidden;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		background-attachment: fixed;
		background-position: center;
		background-size: cover;
}

.polyscape-background > div {
		position: absolute;
}

#polyscape-4 {
		background-image: url(../images/polyscape-4/lake.jpg) ;
		filter: grayscale(25%);
}

#polyscape-4 .circle{
		width: 250px;
		height: 250px;
		border-radius: 50%;
		background: url(../images/polyscape-4/clouds.jpg);
		background-size: cover;
		filter: hue-rotate(120deg) contrast(140%);
}

#polyscape-4 .square-rotated {
		width: 460px;
		height: 460px;
		transform: rotate(45deg);
		background: transparent;
		border: 25px solid transparent;
		border-image: url(../images/polyscape-4/clouds.jpg) 25 stretch;
		filter: hue-rotate(120deg) contrast(140%);
}

#polyscape-4 .square-rotated-small {
		width: 360px;
		height: 360px;
		transform: rotate(45deg);
		background: transparent;
		border: 25px solid transparent;
		border-image: url(../images/polyscape-4/clouds.jpg) 25 stretch;
		filter: hue-rotate(120deg) contrast(140%);
}

#polyscape-4 .square {
		width: 460px;
		height: 460px;
		background: transparent;
		border: 2px solid transparent;
		border-image: url(../images/polyscape-4/clouds.jpg) 2 stretch;
		filter: hue-rotate(50deg) contrast(140%);
}
